# Bot Identity
BOT_PREFIX="."
BOT_NAME=itwzy
WA_BROWSER=Linux, Chrome, 1.0.0
NO_BOT=62880000000
NO_DEV=62880000000
# System configuration
TIME_ZONE=Asia/Jakarta

# Log
LOG_LEVEL=silent

# Openai key
OPENAI_API_KEY=llslsnjslsvzhwksbusjsgsjvziwvxusnzvzuwjshxg

# Message configuration
MESSAGE_LOADING=true

LIMIT=infinity
MYSQL=true
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=test
MYSQL_PASSWORD=
MYSQL_USER=root
MYSQL_TABLE_NAME=auth
SESSION_NAME=itwzy
