BOT_PREFIX=.

BOT_NAME=ITwZY
OWNER={"data": [ { "name": "manu", "number": "628554444444" } ]}
LEVEL_LOG=silent

THUMNAIL_MENU=https://image.io

LOADING_MSG=true
LOADING_TEXT=Loading...

BROWSER=Linux, Chrome, 1.0.0

PORT=3001
