//owner
global.prefix = '.'
global.botName = 'ITwZY'
global.owner = [
  {
    name: 'Manu',
    number: '628222222223'
  }
]

//log
global.levelLog = 'info'

//menu
global.thumnailMenus = 'https://image.com/thumnsils'

//loading
global.loadingMsg = true
global.loadingMsgText = 'Loading....'

//Browser use
global.browser = ['Linux', 'Chrome', '1.0.0']

global.goodbyeImage = ""
global.goodbyeText = ""

global.welcomeImage = ""
global.welcomeText = ""

export default global
